{
  "version": "0.2.0",
  "configurations": [
  {
          "name": "Python: CWD File (Integrated Terminal)",
          "request": "launch",
          "program": "${file}",
          "console": "integratedTerminal",
          "cwd": "${workspaceFolder}/{{project_name}}",
          "purpose":["debug-in-terminal"]
  }, 
  ]
  //... other settings, but I modified the "Current File" setting above ...
}