{
  "version": "0.2.0",
  "configurations": [
  {
          "type": "debugpy",
          "name": "Debug {{project_name}}",
          "request": "launch",
          "module": "{{module_name}}",
          "args": [
              "hello",
              "vincent",
          ],
          "console": "integratedTerminal",
          "cwd": "${workspaceFolder}/{{project_name}}",
          "purpose":["debug-in-terminal"]
  }, 
  ]
  //... other settings, but I modified the "Current File" setting above ...
}